.suggestions{
    padding: 30px 0;
    border-top: var(--main-border);
    margin-top: 25px;
}

.suggestions-title{
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 20px;
}

.suggestions-icons{
    display: flex;
    align-items: center;
}

.suggestions-icons-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.suggestions-icon-image{
    width: 50px;
    height: 50px;
    border-radius: 20%;
    margin-bottom: 10px;
}

.suggestions-icon-text{
    opacity: 0.6;
}